# Binaries
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
mirage-client
mirage-server

# Test binaries / coverage
*.test
*.out
coverage.txt

# Go workspace
go.work
go.work.sum

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*~
